<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页{% endblock %} - typeidea 博客系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.css">
    <style>
        .post {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<div>
    <p>顶部分类:</p>
    {% for cate in navs %}
        <a href="{% url 'category-list' cate.id %}">{{ cate.name }}</a>
    {% endfor %}
</div>
<hr/>
{% block main %}
{% endblock %}
<div>
    <p>侧边栏展示:</p>
    {% for sidebar in sidebars %}
        <h4>{{ sidebar.title }}</h4>
        {{ sidebar.content_html }}
    {% endfor %}
</div>
</body>
</html>